.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-2 {
	display: block;
	padding-left: 100px;
	padding-right: 100px;
	padding-top:  100px;
	padding-bottom: 100px;
}

.clickabletext {
    text-decoration: underline;    
    text-decoration-color: steelblue;
    color: steelblue; 
}

.slide-animate-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.resetbutton {
 	background: #5076b0;
 	color: white;
 	width: 150px;
 	height: 40px;
}

.button-off {
 	background: #dbeeff;
 	color: black;
 	width: 120px;
 	height: 30px;
}

.button-on{
	background: #5076b0;
 	color: white;
 	width: 120px;
 	height: 30px;
}

.centered-body{
	text-align: center;
	font-family: Calibri;
}

.header{
	text-align: center;
	color: #5076b0;
}

.input-error
{
 border:1px solid red;
}

.input-valid
{
 border:1px solid green;
}

.error-message
{
 color:red;
 font-weight: normal;
}

.valid-message
{
 color:green;
 font-weight: normal;
}


.ng-cloak {
	display: none !important;
}

.padded-light {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.pdf-col {
	color:red;
}

.html-col {
	color:lightblue;
}


.txt-col {
	color:gold;
}

.result-text {
    font-style: italic;    
    text-decoration-color: steelblue;
    color: steelblue; 
}

select.form-control:not([size]):not([multiple]) {
  height: auto!important;
}



/**
.center .clickableExpandable {

}
**/