<!doctype html>
<html ng-app="quiryApp">
   <header>
   </header>
   <body>
   <div ng-controller="searchController">
      <div class="container">
         <div class="row">
            <div class="col-lg-11">
               <div class="input-group">
                 <input id="search" name="search" type="text" class="form-control mr-sm-2" placeholder="Please enter a new search here" aria-label="Search" aria-describedby="basic-addon2" ng-model="searchText" ng-keydown="$event.keyCode === 13 && search()">
                 <div class="input-group-append">
                   <button class="btn btn-primary" type="button" ng-click="search()">Search</button>
                   <a href="#" class="btn btn-secondary" ng-click="toggleAdvancedSearch()">{{ advancedSearchText }}</a>
                 </div>
               </div>
            </div>
         </div>
      </div>
      <div ng-show="advancedSearchOn" class="show-element animate-show-hide">
         <div class="container" style="background:rgba(255,255,255, 0.4);border-radius: 15px;">
            <div class="row">
               <div class="col-sm-4">
                  <label>Uploaded by</label><br/>
                  <div class="btn-group">
                     <label class="btn btn-success" ng-model="instructorSearch" uib-btn-checkbox>Instructor</label>
                     <label class="btn btn-success" ng-model="studentSearch" uib-btn-checkbox>Student</label>
<!--
   <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
    </div>
-->
                  </div>
               </div>
               <div class="col-sm-4">
                  <label>Content Type</label><br/>
                  <div class="btn-group">
                     <label class="btn btn-primary" ng-model="pastExams" uib-btn-checkbox>Past Exams</label>
                     <label class="btn btn-primary" ng-model="notes" uib-btn-checkbox>Notes</label>
                     <label class="btn btn-primary" ng-model="journals" uib-btn-checkbox>Journals</label>
                  </div>
               </div>
               <div class="col-sm-4">
                  <label>File Type</label><br/>
                  <div class="btn-group">
                     <label class="btn btn-primary" ng-model="pdfType" uib-btn-checkbox>PDF</label>
                     <label class="btn btn-primary" ng-model="htmlType" uib-btn-checkbox>HTML</label>
                     <label class="btn btn-primary" ng-model="txtType" uib-btn-checkbox>TXT</label>
                  </div>
               </div>
            </div>
            <br/>
            <div class="row">
               <div class="col-sm-4">
                  <label>Author Name:</label>
                  <input type="text" class="form-control" ng-model="author" placeholder="Firstname Lastname"></input>
               </div>
               <div class="col">
                  <label>Date Uploaded:</label><br/>
                  <select class="form-control" ng-model="dateUploaded" ng-options="y for y in timeOptions">
                  </select>
               </div>
               <div class="col">
               </div>
            </div>
            <br/>
            <div class="row">
               <div class="col">
                  <label>Courses</label><br/>
                  <tags-input ng-model="coursesSelected"
                     add-on-paste="true"
                     placeholder="Add a course code"
                     min-length="6"
                     max-length="6"
                     allowed-tags-pattern="^(?:[A-Z]{4}|[a-z]{4})[0-9]{2}$">
                     <auto-complete source="loadOptions($query, './json/courses.json')"
                     load-on-focus="true"
                     load-on-empty="true"
                     min-length="0"
                     max-results-to-show="10">
                     </auto-complete>
                  </tags-input>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <br/>
                  <button class="btn" ng-click="resetAdvancedSearch()">Reset Advanced Search Options</button>
                  <br/>
                  <br/>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br/>
   <div class="container">
   <md-progress-linear md-mode="indeterminate" ng-disabled="!loadBar" ng-show="loadBar"></md-progress-linear>
   </div>
   </body>
</html>