<!doctype html>
<meta charset="UTF-8">
<html  ng-app="quiryApp">
	<div ng-controller="uploadController">
		<head>
			<link rel="stylesheet" href="./css/styles.css"/>
			<!-- Latest compiled and minified CSS -->
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

			<!-- fontAwesome -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"/>

			<!-- ng-tag CSS -->
			<link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
			<link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css">

			<link rel="icon" href="./Resources/favicon.ico" type="image/x-icon"/>
			<div ng-include="'navigation.html'" ng-controller="homeController"></div>
			<title>Upload</title>

			<h1 class="header">Upload a Document</h1>
		</head>
		<body>
		<form name="uploadForm" id="uploadForm" ng-show="userId != null">
			<br/>
			<div class="container border border-info rounded padded-light ng-cloak">
				<div class="row">
					<div class="col-md-8">
						<label style="width: 20%" for="contentType">Content Type:</label>
						<label for="courseNoteType" class="radio-inline" style="font-weight:normal"><input id="courseNoteType" type="radio" name="courseNoteType" ng-model="contentType" ng-value="1"/>Course Notes</label>
						<label for="pastExamType" class="radio-inline" style="font-weight:normal"><input id="pastExamType" type="radio" name="pastExamType" ng-model="contentType" ng-value="2"/>Past Exam</label>
						<label for="journalType" class="radio-inline" style="font-weight:normal"><input id="journalType" type="radio" name="journalType" ng-model="contentType" ng-value="3"/>Journal</label>
					</div>
					<div class="col-md-4">
						<label style="width: 20%" for="course">Course:</label>
						<input style="width: 75%" type="text" ng-model="course" required/>
					</div>
				</div>
			</div>
			<br/>
			<div class="container border border-info rounded padded-light ng-cloak">
				<div class="row">
					<div class="col-md-8">
						<label for="fileName">Title:</label>
						<input type="text" style="width: 100%" name="fileTitle" ng-model="fileTitle" placeholder="Please include a title for this document"/>
						<span class="error-message" ng-show="(uploadForm.fileTitle.$touched || submit == true) && registrationForm.Title.$invalid">Please include a title for this document</span>
					</div>
					<div class="col-md-4">
						<br/>
						<input type="file" name="file" file-model="file"/>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="description">Description:</label>
							<textarea rows="5" style="width: 100%" id="uploadDescription" placeholder="Please include a short description of your file" name="description" ng-model="description"></textarea>
						</div>
					</div>
				</div>
				<div ng-hide="file == null" class="row">
					<div class="col-md-12 text-center">
						<md-button class="md-raised md-primary" type="submit" ng-click="uploadDocument(uploadForm)"> Upload </md-button>
					</div>
				</div>
			</div>
			<br/>
			<div class="container border border-info rounded padded-light ng-cloak">
				<div class="row">
					<div class="col-md-8">
						<label for="crawlUrl">URL:</label>
						<input style="width: 100%" type="text" placeholder="Please enter a URL to crawl" name="crawlUrl" ng-model="crawlUrl"/>
					</div>
					<div class="col-md-4">
						<br/>
						<label><input type="checkbox" name="domainRestricted" ng-model="domainRestricted"> Restrict to same domain</label>
					</div>
				</div>
				<br/>
				<div ng-hide="!crawlUrl.length" class="row">
					<div class="col-md-12 text-center">
						<md-button class="md-raised md-primary" type="submit" ng-click="crawlWebsite(uploadForm)"> Crawl </md-button>
					</div>
				</div>
			</div>
			<br/>

		</form>
		<div ng-show="userId == null" class="centered-body">
			You must be signed in to access this Feature.
			<a href="./login.html"><br/> Sign in Here</a>
			<a href="./registration.html"><br/>or Sign up for an Account Here</a>
		</div>
	    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="!activateLoading">
	      <md-progress-circular md-mode="indeterminate" ng-disabled="!activateLoading"></md-progress-circular>
	    </div>
		</body>
	</div>
	<!-- AngularJS libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>


	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Bootstrap -- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

	<!-- ng-tag dependency -->
	<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

	<!-- Bootstrap -- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="./route.js"></script>
	<script src="./Controller/upload.js"></script>
	<script src="./Service/storage.js"></script>
	<script src="./Controller/home.js"></script>
</html>
