<!doctype html>
<html  ng-app="quiryApp">
	<div ng-controller="loginController">
	<head>
		<title>Login</title>
		<h1>Login</h1>
	</head>
	<body>

	<div>
	<span>Username:</span>
	<input type="text" ng-model="username" />
        <br/>
        <span>Password:</span>
	<input type="text" ng-model="password"/>
        <br/>
	<span>{{ message }}</span>
	</div>
	<button ng-click="loginUser()">Login</button>
	<br/>
	</div>

	</body>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script src="../route.js"></script>
	<script src="../Controller/login.js"></script>
</html>
